table{
    border-collapse: collapse;
    justify-content: space-between;
}

td{
    text-align: center;
    vertical-align: center;
    border-bottom: 1px solid gray;
    padding: 1rem;
}

.align-left{
    text-align: left;
}

span.pion {
    font-size: 2.5em;
    line-height: 20px;
    margin: 0 -2px;
    text-shadow: 0 0 2px black;
}
.pion.blanc {
    color: white;
    font-weight: bold;
}
.pion.rouge {
    color: red;
    font-weight: bold;
}

input[type='file'] {
    color: transparent;
}

h1{
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

html{
    background: linear-gradient(45deg, rgba(200,208,255,1) 0%, rgba(255,255,255,1) 100%);
    min-height: 100vh;
    height: max-content;
}

body{
    font-family: Montserrat, sans-serif;
    font-size: 0.8rem;
}

main{
    background-color: rgba(255,255,255,75%);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 8px 8px 10px rgba(0,0,0,30%);
}

main {
    margin: 80px auto;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

table {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    border-collapse: collapse;
}

.navbar, .manageSave {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    padding: 6px 15px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0,0,0,.1);
    border: 1px solid gray;
}

.btn:hover{
    cursor: pointer;
}

.btn-yellow {
    background-color: rgb(242, 238, 121);
}

.btn-yellow:hover{
    background-color: rgb(215, 209, 21);
}

.btn-green {
    background-color: rgb(106, 230, 87);
}

.btn-green:hover{
    background-color: rgb(47, 179, 27);
}

.btn-blue {
    background-color: rgb(130, 210, 245);
}

.btn-blue:hover{
    background-color: rgb(18, 162, 226);
}