body{
    font-family: Montserrat, Montserrat, sans-serif;
    font-size: 0.8rem;
}

table{
    border-collapse: collapse;
    justify-content: space-between;
}

td{
    text-align: center;
    vertical-align: center;
    border-bottom: 1px solid gray;
    padding: 1rem;
}

.align-left{
    text-align: left;
}

span.pion {
    font-size: 2.5em;
    line-height: 20px;
    margin: 0 -2px;
    text-shadow: 0 0 2px black;
}
.pion.blanc {
    color: white;
}
.pion.rouge {
    color: red;
}

main {
    margin: 80px auto;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

table {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    border-collapse: collapse;
}